/* Define the animation */
@keyframes slideDown {
  from {
  opacity: 0;
  transform: translateY(-10%);
  }
  to {
  opacity: 1;
  transform: translateY(0);
  }
  }
  
  .main {
  min-height: 80vh;
  }
  
  .h3 {
  padding: 1rem 0;
  }
  
  .link {
  text-decoration: none;
  font-weight: bold;
  }
  
  .link:hover {
  text-decoration: underline;
  }
  
  .text-centered {
  text-align: center;
  }
  
  .warning-message {
  text-align: center;
  color: red;
  margin-left: 20%;
  margin-right: 20%;
  }
  
  .rating span {
  margin: 0.0rem;
  }
  
  .rounded-image {
  border-radius: 20px;
  }

  
  .form-control {
  border-radius: 1rem;
  min-width: 4rem
  }
  
  .shadowed {
  box-shadow: 0 1rem 1rem rgba(253, 94, 1, 0.3);
  }
  
  button {
  border-radius: 0.5rem;
  text-align: center;
  justify-content: center;
  }
  
  .card-title {
  height: 3rem;
  }
  
  .p-4 {
  transition-duration: 1s;
  }
  
  .p-1 {
  transition-duration: 1s;
  }
  
  .enlarge:hover {
  transition-duration: 1s;
  transform: scale(1.2);
  }
  
  .enlarge {
  transition-duration: 1s;
  }

  .big{
    font-size: 200%;
  }
  
  .move-right:hover {
  padding-left: 3rem;
  transition-duration: 1s;
  }
  
  .move-right {
  transition-duration: 1s;
  }
  .red{
    color:red;
  }
  .blue{
    color:blue;
  }
  .green{
    color:green;
  }
  
  @media (hover: hover) {
  .highlight:hover {
  box-shadow: 0 1rem 1rem rgba(1, 1, 1, 0.3);
  transform: scale(1.05);
  }
  }
  
  .slide-enter {
  transform: translateX(100%);
  }
  
  .slide-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
  }
  
  .slide-exit {
  transform: translateX(0%);
  }
  
  .slide-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
  }
  
  .dropdown-menu {
  animation: slideDown 0.4s ease-in-out;
  border-radius: 10%;
  }
 .block {
  display: inline-block;
 }
 .text-right{
  text-align: right;
 }
 .image-home{
  height: 220px;
  width: 220px;
 }
 .noborder{
  border: none
 }

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
}
 
.carousel-caption h2 {
  color: black;
}
 
.carousel img {
  height: 300px;
  padding: 40px;
  margin: 40px;
  border-radius: 30%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
 
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
.carousel-inner{
 background-color: white;
  border: solid black;
  border-radius: 5%;
}
.carousel-control-next, .carousel-control-prev{
  color: teal;
  background:black
}
.carousel-indicators [data-bs-target]{
  color: teal;
  background:black
}
@import '~mdb-ui-kit/css/mdb.min.css';

.form-control.is-valid{
  margin-bottom: 0;
}